p
{
   text-align: justify;
   font-size:13.5pt;
   line-height: 20pt;
   font-family:Verdana, Arial, Fantasy;
}
h1
{
    font-size:50pt;
    text-align:center;
    color:#191970;
}
h2
{
    font-size:30pt;
    color:blue;
}
h3
{
    font-size:20pt;
}
body
{
    background-color:#AFEEEE;
}
ul
{
    font-size:13.5pt;
    font-family:Verdana, Arial, Fantasy;
}

img
{
	border-color:#6495ED;
	border-width: medium;
	border-style: solid;
	padding: 0.5%;
}
	
	




	
