h1
{
	text-align:center;
	font-size:40pt;
}
p 
{
	font-size:15pt;
	font-family:Verdana, Arial, Fantasy;
	margin-left: 50px;
    margin-right: 50px;
	line-height: 26pt;
}
h2
{
	font-size:30pt;
    margin-left: 50px;
	
}
img
{
	margin-left:520px;
}